<div class="body">
  <div class="main-content">
    <div class="tit">
      CODING CABLE
    </div>
    <div class="log">
      <img class="logo" src="../assets/logo.jpeg">
    </div>
    <div class="bod">
      An awesome venture for all the coding enthusiasts. Put on your seatbelts ready. We will be launching soon!!
    </div>
    <div class="foot">
      Follow Us On Instagram:<br>
      <a href="https://instagram.com/codingcable?igshid=4jwvm7qb4kck"><img src="../assets/insta.png" alt="Instagram" class="foot-insta"></a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>